@model IEnumerable<AfroBeachApp.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">List of Products</div>
            <div class="card-body">
                <a asp-action="create" asp-controller="products" class="btn btn-primary m-3"><i class="bi bi-plus-circle-fill"></i> Add New Record</a>
                <div class="table-responsive">
                    <table class="table table-striped nowrap datatable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price (USD)</th>
                                <th>Price (LRD)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>@item.ProductCategory.Name</td>
                                    <td>@item.CurrencyOneAmount.ToString("F2")</td>
                                    <td>@item.CurrencyTwoAmount?.ToString("F2")</td>
                                    <td>
                                        <a asp-action="edit" asp-controller="products" asp-route-Id="@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-fill"></i></a> |
                                        <a asp-action="details" asp-controller="products" asp-route-Id="@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-book"></i></a> |
                                        <a asp-action="delete" asp-controller="products" asp-route-Id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>